p {

    font-family: 'Teko', sans-serif;
    font-size: 200%;
    text-align: center;
}
table {
    margin: 0 auto;
    
}
tr {
    height: 100px;
}

td {
    width: 100px;
    border-spacing: 0;

}
.horizontal {
    border-top: gray solid 2px;
    border-bottom: gray solid 2px;
}
.vertical {
    border-left:  gray solid 2px;
    border-right:  gray solid 2px;
}